@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

p {
  font-family: "Roboto";
  font-style: normal;
  color: black;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}
.header .header-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-container .header-container__logo {
  width: 135px;
  height: 30px;
}
.header .header-container .header-container__profile {
  width: 148px;
  height: 80px;
  padding: 0 0 0 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #ebebf1;
  border-width: 0 0 0 1px;
}
.header .header-container .header-container__profile .header-container__profile-vector {
  display: none;
}
.header .header-container .header-container__profile .header-container__profile-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #768298;
}
.header .header-container .header-container__profile .header-container__profile-photo {
  height: 40px;
  width: 40px;
}

.search-bar {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.search-bar_except375 {
  background: url(../img/header/search.png) no-repeat 14px 10px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  height: 40px;
  width: 835px;
  padding: 12px 39px;
}

.search-bar_375 {
  display: none;
  background: url(../img/header/search.png) no-repeat 0px 10px;
  width: 335px;
  height: 42px;
  margin: 0 auto;
  padding: 12px 29px;
}

.main {
  margin-top: 70px;
}
.main .main-container .main-container__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
}
.main .main-container .main-container__brands-container {
  height: 270px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand {
  height: 120px;
  width: 287.5px;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
          box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.brand .brand__henkel {
  height: 64px;
  width: 116px;
}
.brand .brand__john-deere {
  height: 44px;
  width: 234px;
}
.brand .brand__mcdonalds {
  width: 85px;
  height: 64px;
}
.brand .brand__ikea {
  width: 160px;
  height: 64.2px;
}
.brand .brand__reebook {
  width: 234px;
  height: 48px;
}
.brand .brand__nike {
  width: 122px;
  height: 64px;
}
.brand .brand__caterpillar {
  width: 234px;
  height: 36px;
}

.brand_hide {
  visibility: collapse;
}

@media (max-width: 1280px) {
  ._container {
    max-width: 728px;
  }
  .search-bar_except375 {
    width: 344px;
  }
  .main .main-container .main-container__brands-container {
    height: 475px;
  }
  .brand {
    width: 229px;
  }
  .brand .brand__john-deere {
    height: 34px;
    width: 183px;
  }
  .brand .brand__mcdonalds {
    width: 99px;
    height: 74px;
  }
  .brand .brand__ikea {
    width: 175px;
    height: 70px;
  }
  .brand .brand__reebook {
    width: 187px;
    height: 38px;
  }
  .brand .brand__nike {
    width: 143px;
    height: 74px;
  }
  .brand .brand__caterpillar {
    width: 196px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  ._container {
    max-width: 335px;
  }
  .header .header-container {
    height: 62px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-container .header-container__profile {
    width: 24px;
    height: 24px;
    padding: 0 0 0 0px;
    border: none;
  }
  .header .header-container .header-container__profile .header-container__profile-vector {
    height: 24px;
    width: 24px;
    display: block;
  }
  .header .header-container .header-container__profile .header-container__profile-name {
    display: none;
  }
  .header .header-container .header-container__profile .header-container__profile-photo {
    display: none;
  }
  .search-bar_except375 {
    display: none;
  }
  .search-bar_375 {
    display: block;
  }
  .main {
    height: 1248px;
  }
  .main .main-container .main-container__header {
    font-size: 28px;
  }
  .main .main-container .main-container__brands-container {
    height: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .brand {
    height: 140px;
    width: 335px;
  }
  .brand .brand__henkel {
    width: 145px;
    height: 82px;
  }
  .brand .brand__john-deere {
    height: 44px;
    width: 234px;
  }
  .brand .brand__mcdonalds {
    width: 100px;
    height: 75px;
  }
  .brand .brand__ikea {
    width: 194px;
    height: 78px;
  }
  .brand .brand__reebook {
    width: 232px;
    height: 48px;
  }
  .brand .brand__nike {
    width: 141px;
    height: 74px;
  }
  .brand .brand__caterpillar {
    width: 247px;
    height: 38px;
  }
  .brand_hide {
    display: none;
  }
}